{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirmation" type="password">
             <div id="subjectsContainer">
        <input type="text" name="subject_names[]" placeholder="Add a subject" required>
    </div>
    <button type="button" onclick="addSubject()">Add Another Subject</button>

        </div>
        <button class="btn btn-primary" type="submit">Register</button>
        
</form>

<script>
function addSubject() {
    const container = document.getElementById("subjectsContainer");
    const input = document.createElement("input");
    input.type = "text";
    input.name = "subject_name[]";
    input.placeholder = "Add a subject";
    container.appendChild(input);
}
</script>
{% endblock %}